.cityForecastWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  height: 350px;
  border: 1px solid black;
}

.dailyWidgetWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  height: 250px;
    background-color: rgba(127, 61, 217, 0.14);
}

.dailyWidget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 100%;
    background-color: #76a16c;
    border-radius: 10px;
  border: #22321f 1px solid;
}