.tripWrapper{
    height: 100%;
    width: 80vw;
    border: crimson 3px solid;
}

.wrapMapAndStops {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5vw;

}

.tickets {
    width: 150px;
    height: 150px;
    background-color: #0077ff;

}